<header class="site-header">
  <div class="site-header-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li class="dropdown">
          <a href="{{ '/projects' | relative_url }}">Projects ▾</a>
          <ul class="dropdown-menu">
            <li><a href="{{ '/projects' | relative_url }}">Selected Projects</a></li>
            <li><a href="{{ '/rowing' | relative_url }}">Rowing</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
